<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baba.mybatisplus.mapper.LogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.baba.mybatisplus.model.Log">
        <id column="id" property="id" />
        <result column="operateor" property="operateor" />
        <result column="operateType" property="operateType" />
        <result column="operateDate" property="operateDate" />
        <result column="operateResult" property="operateResult" />
        <result column="ip" property="ip" />
    </resultMap>

</mapper>
